.drinks {
  text-align: center;
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 3.5;
  margin-bottom: 10%;
}
.vin {
  line-height: 2;
  margin-bottom: 5%;
}
.grid_1-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ol-container {
  position: relative;
  line-height: 4;
  margin-bottom: 10%;
}

/* Stil for overskrift */
.ol1 {
  position: absolute;
  top: 0%; /* Placer overskriften i midten af containeren vertikalt */
  left: 0%;
  right: 50%; /* Placer overskriften i midten af containeren horisontalt */
  padding: 3%;
  color: black;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.938);
}

.ol2 {
  position: absolute;
  top: 0%; /* Placer overskriften i midten af containeren vertikalt */
  left: 50%; /* Placer overskriften i midten af containeren horisontalt */
  padding: 3%;
  color: black;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.938);
}

/* Stil for billedet */
.backgound {
  width: 100%; /* Gør billedet 100% bredt af containeren */
  height: auto; /* Oprethold billedets aspektratio */
  display: block; /* Fjern eventuelle ekstra mellemrum under billedet */
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .p {
    font-size: 10px;
  }
  .ol1,
  .ol2 {
    line-height: 2.8;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .ol1 p,
  .ol2 p {
    font-size: 13px;
    line-height: 2.5;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .ol1 p,
  .ol2 p {
    font-size: 18px;
    line-height: 3;
  }
}
