@font-face {
  font-family: pavanam;
  src: url(../fonts/pavanam-regular-webfont.woff2);
}

h1,
h2,
h3,
h4,
a,
p,
nav {
  font-family: pavanam;
}
p {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}

h4 {
  font-size: 200px;
}
.footer-h3 {
  font-size: 20px;
  margin: 2%;
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid_1-8 {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav_1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid black;
}

nav a {
  padding: 4em;
  margin: 0 50px;
  text-decoration: none;
  color: black;
}

nav {
  text-align: right;
  margin-top: 30px;
}

main {
  max-width: 1400px;
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  background-color: rgba(73, 86, 48, 0.44);
  color: rgba(71, 83, 47, 1);
  padding: 2%;
}

.info {
  margin-left: 5%;
}

.tider {
  margin-left: 20%;
}

.medier {
  margin-left: 30%;
}

p {
  margin: 0;
}

/* ikoner */

.location {
  max-width: 55%;
  justify-content: center;
  position: relative;
  top: 15%;
  left: 24%;
  margin: 2%;
}

.telephone {
  max-width: 60%;
  justify-content: center;
  position: relative;
  top: 12%;
  left: 24%;
}

.mail {
  max-width: 60%;
  justify-content: center;
  position: relative;
  top: 19%;
  left: 24%;
}

.time {
  max-width: 67%;
  justify-content: center;
  position: relative;
  top: 4%;
  left: 24%;
}

.time_t {
  position: relative;
  font-size: 15px;
  left: 13.5%;
  margin-bottom: 2%;
}

.icons_t {
  position: relative;
  font-size: 15px;
  left: 13%;
  margin-bottom: 5%;
}
