/* Container til at positionere tekst og billede relativt */
.forside-container {
  position: relative;
}

/* Stil for overskrift */
h4 {
  position: absolute;
  top: -20%; /* Placer overskriften i midten af containeren vertikalt */
  left: 50%; /* Placer overskriften i midten af containeren horisontalt */
  transform: translate(
    -50%,
    -50%
  ); /* Juster positionen for at centrere korrekt */
  color: white; /* Ændr farven efter behov */
  text-align: center;
}

/* Stil for billedet */
.forside1 {
  width: 100%; /* Gør billedet 100% bredt af containeren */
  height: auto; /* Oprethold billedets aspektratio */
  display: block; /* Fjern eventuelle ekstra mellemrum under billedet */
  align-items: center;
}

.link-knap {
  display: grid;
  place-items: center;
  padding: 5%;
}
.knap {
  display: inline-block;
  color: white;
  font-size: 25px;
  padding: 6px 45px;
  background-color: rgba(175, 181, 164, 1);
  text-decoration: none;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  height: 380px;
  margin-bottom: 10%;
}

.mad-forside,
.ol-forside {
  display: flex;
  justify-content: center;
}
.foodtext {
  margin: 40px;
  line-height: 3;
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(175, 181, 164, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.text {
  font-family: pavanam;
  color: #ffffff;
  font-size: 200px;
  position: absolute;
  top: 5px;
  width: 100%;
  text-align: center;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
  .text {
    font-size: 100px;
  }
}
